body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #111111;
}

section {
  height: 100%;
  width: 100vw;
}
section#section_one {
  height: 100vh;
  background: url(../images/background.png);
  background-size: cover;
  //   padding-top: 37px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .content {
    display: flex;
    justify-content: center;
    .headering {
      font-size: 58px;
      color: #fff;
      font-family: "EB Garamond", serif;
      width: 420px;
    }
  }
  .footer {
    margin-bottom: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    .descr {
      color: #fff;
      margin-left: 10px;
      font-family: "Cormorant Garamond";
      font-size: 18px;
    }
  }
}

.container {
  margin: 0px 130px;
  height: 100%;
}

header {
  //   position: absolute;
  margin-top: 37px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  div {
    a {
      color: #fff;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      font-family: "Cormorant Garamond";
      font-size: 18px;
      transition: color 0.3s;
      margin-right: 80px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: #cdaa7d;
        padding-bottom: 2px;
        border-bottom: 2px solid #cdaa7d;
      }
    }
  }
  .header_logo {
    img {
      width: 48px;
    }
  }
}

section#section_two {
  .content {
    padding-top: 120px;
    .title {
      display: flex;
      justify-content: center;
    }
    div.paragraph {
      display: flex;
      justify-content: center;
      margin-top: 60px;
      font-size: 18.5px;
      p {
        width: 600px;
        text-align: center;
        color: white;
        font-family: "Cormorant Garamond";
      }
    }
    .services {
      margin-top: 95px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 4rem;
      column-gap: 4rem;
      > div.service {
        color: #fff;
        .service_image {
          position: relative;
          $image_width: 100%; // ширина фотки которая будет вставлена в атрибут
          $image_height: 346px; // высота фотки которая будет вставлена в атрибут
          img {
            width: $image_width;
            height: $image_height;
            position: absolute;
            z-index: 2;
          }
          &::after {
            z-index: 1;
            height: $image_height;
            display: block;
            position: relative;
            bottom: 20px;
            left: 20px;
            width: $image_width;
            background: inherit;
            border: 1px solid #cdaa7d;
            content: "";
          }
        }
        .service_name {
          font-size: 28px;
          margin-top: 15px;
          font-family: "Cormorant Garamond";
        }
      }
    }
  }
}

section#section_three {
  margin: 150px 0;
  .content {
    .cosmetics {
      display: flex;
      justify-content: space-between;
    }
  }
}

section#section_four {
  .content {
    .title {
      font-family: "Cormorant Garamond";
      color: white;
      font-size: 42px;
      text-align: center;
    }
    .buttons {
      margin-top: 50px;
      display: flex;
      padding-bottom: 10px;

      justify-content: center;
      > a {
        color: #fff;
        border-bottom: 2px solid transparent;
        text-decoration: none;
        padding-bottom: 2px;
        font-family: "Cormorant Garamond";
        font-size: 18px;
        transition: color 0.3s;
        margin-right: 80px;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          color: #cdaa7d;
          //   padding-top: 2px;
          border-bottom: 2px solid #cdaa7d;
        }
      }
    }
    .jobs {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      > div.job {
        width: 100%;
        .job_image {
          display: inline-block;
          overflow: hidden;
          width: 100%;

          img {
            transition: 0.3s;
            width: 100%;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}

footer {
  color: white;
  margin-top: 100px;
  .content {
    .blocks {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      padding: 80px 0;
      display: flex;
      justify-content: space-between;
      > .block {
        font-family: "Cormorant Garamond";
        .block_key {
          font-size: 24px;
        }
        .block_value {
          margin-top: 25px;
          .logo {
            img {
              width: 36px;
            }
          }
        }
      }
    }
    .copyright {
      text-align: center;
      margin: 30px 0;
    }
  }
}
